{% extends 'rfwa/base.html' %}
{% load static %}

{% block extra_head %}

<!-- Custom styles for this template -->
<link href="{% static 'css/manage_page.css' %}" rel="stylesheet">

{% endblock %}

{% block body_block %}

<div class="container-fluid">

  <!-- main heading -->
  <div class="row">
    <h1 class="col-12 text-center mt-4">Add Lab<a class="rightside" href="/rfwa/manage_labs/"><button type="button"
          class="btn btn-primary">Cancel</button></a></h1>
  </div>

  <!-- form -->
  <form class="mx-auto" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group">
      <label class="form-text-label">{{ field.label }}</label>
      <small class="text-danger">{{ field.errors }}</small>
      <div class="input-group">
        <div class="mx-auto">{{ field }}</div>
      </div>
    </div>
    {% endfor %}

    <div class="submit-button-wrapper">
      <button type="submit" class="btn btn-primary btn-lg submit-button" >Submit Lab</button>
    </div>

  </form>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}