<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Robotics Foundations Web App</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

    <!-- Overriding bootstrap css -->
    <link href="{% static 'css/override.css' %}" rel="stylesheet">

    <!-- jquery for getting lab file uri -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% block extra_head %}
    {% endblock %}

</head>

<body>

    <!-- if user not logged in, redirect to login/register page-->
    {% if user.is_authenticated %}

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <!-- onclick="location.href='/rfwa/home/'" style="cursor: pointer" -->
            <div class="sidebar-heading">
                Robotics Foundations
            </div>
            <div class="list-group list-group-flush">
                {% now 'Y' as current_year %}
                {% now 'm' as current_month %}
                <a href="{% url  'home' current_year current_month %}" class="list-group-item list-group-item-action bg-light">Home page</a>
                <a href="/rfwa/workspace/" class="list-group-item list-group-item-action bg-light">Work page</a>
                <a href="/rfwa/alllabs/" class="list-group-item list-group-item-action bg-light">All labs</a>
                <a href="/rfwa/lectureslides/" class="list-group-item list-group-item-action bg-light">Lecture
                    slides</a>
                <a href="/rfwa/feedback/" class="list-group-item list-group-item-action bg-light">Feedback</a>
                <a href="{% url  'summary' user.username %}"
                    class="list-group-item list-group-item-action bg-light">Summary</a>
                <!-- <a href="{% url  'calendar' 2020 3 %}"
                    class="list-group-item list-group-item-action bg-light">Calendar</a> -->

                {% if user.is_superuser %}
                <a href="/rfwa/manage/" class="list-group-item list-group-item-action bg-light">Manage</a>
                {% endif %}
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link"> Welcome back, {{ user.first_name }}! </a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>


            {% block body_block %}
            {% endblock %}

            {% block scripts %}
            {% endblock %}

        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script src="{% static 'javascript/menutoggle.js' %}"></script>

    {% else %}
    <meta http-equiv='refresh' content="0; URL={% url 'login' %}">
    {% endif %}

</body>

</html>