<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Robotic Foundations Web App</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
    //top of the page, layout will be similar to the ros development studio page
    
    // button back to the developement page

    // save button 

    //toggle drop down menu, allow users to choose from following development tools

    <h3>Open some applications in Ubuntu from HTML</h3>
    <p>Open terminal: <a title="Open" href="app://">app://</a>
        (equivalent with: <a title="Open" href="app://gnome-terminal">app://gnome-terminal</a>)</p>
    <p>Open Nautilus: <a title="Open" href="app://nautilus">app://nautilus</a></p>
    <p>Open Chromium: <a title="Open" href="app://chromium-browser">app://chromium-browser</a></p>
    <p>Open Ubuntu Software Center: <a title="Open" href="app://software-center">app://software-center</a>
        (equivalent with: <a title="Open" href="apt://">apt://</a>)</p>
    <p>...and so on</p>
</body>

</html>