{% extends "rfwa/base.html" %}

{% block extra_head %}

{% endblock %}

{% block body_block %}

<div class="container-fluid">
  <h1 class="mt-4">View Feedbacks</h1>
  {% if current_user %}
  <div class="container-fluid mt-5">
    
    {% if feedbacks %}
    <P> here are you feedbacks</P>
    {% for feedback in feedbacks %}
    <P> Week : {{feedback.week_number}}</P>
    <P> Grade : {{feedback.grade}}</P>
    <P> Feedback : {{feedback.description}}</P>

    {% endfor %}
    {% else %}
    <h2 class="text-center mt-5">You have no feedbacks</h2>
    {% endif %}
    {% else %}
    
    {% endif %}
  </div>
</div>

{% endblock %}