{% extends "rfwa/base.html" %}
{% load static %}

{% block extra_head %}

<!-- Custom styles for this template -->
<link href="{% static 'css/feedback.css' %}" rel="stylesheet">

{% endblock %}

{% block body_block %}

<div class="container-fluid">

  <!-- main heading -->
  <div class="row">
    <h1 class="col-12 text-center mt-4">View Feedbacks</h1>
  </div>

  <!-- Feedback -->
  {% if feedbacks %}
  <div class="table-group">
    <div class="title-group">
      <h1 class="col-12 text-left table-header">Feedback
      </h1>
    </div>


    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Week</th>
          <th scope="col">Grade</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
      {% for feedback in feedbacks %}
      <tbody>
        <tr>
          <td>{{feedback.week_number}}</td>
          <td>{{feedback.grade}}</td>
          <td>{{feedback.comments}}</td>
        </tr>
      </tbody>

      {% endfor %}
      {% else %}
      <h2 class="text-center mt-5">You have no feedbacks</h2>
    </table>
    {% endif %}
  </div>
</div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}