{% extends 'rfwa/base.html' %}
{% load static %}

{% block extra_head %}

<!-- Custom styles for this template -->
<link href="{% static 'css/home.css' %}" rel="stylesheet">

{% endblock %}

{% block body_block %}

<div class="container-fluid">
  <h1 class="mt-4">Welcome to Robotics Foundation Web App</h1>

  <div class="page-wrapper">
    <div class="left-wrapper">
      <div class="info-wrapper">
        <h1 class="mt-4">Instructions</h1>
        <div class="info-wrapper-text">
          <p class="title">
            Workspace page:
          </p> 

          <ul>
            <li>To launch the terminal, click <img src= "{% static "images/terminal.png" %}" alt="Launching terminal"> or CTRL + SHIFT + `</li>
            <div class="line-spacing"></div>
            <li>To view robot visualisation, Rviz, click <img src= "{% static "images/browser-preview-icon.png" %}" alt="Browser preview icon"> located at the workspace sidebar.</li>
            <div class="line-spacing"></div>
            <li>If the icon can not be found/ does not seem to be working, manually bring it up by CTRL + SHIFT + P and type the following <img src= "{% static "images/manual-browser-preview.png" %}" alt="Browser preview icon"></li>
            <div class="line-spacing"></div>
            <li>Experience a full screen IDE on the Workspace page by clicking the "Toggle Menu"   <img src= "{% static "images/toggle-menu.png" %}" alt="Menu toggle button"> button and scrolling down.</li>
          </ul>

          <p class="title">
            Summary page:
          </p>

          <ul>
            <li>Be sure to update lab completion status on the task manager provided in the Summary page, to receive alert on incomplete labs.</li>
          </ul>
         
        </div>
      </div>
    </div>
    <div class="right-wrapper">
      <h1 class="mt-4">Upcoming due dates</h1>
      <div class="calendar-wrapper">
        <div class="calendar">
          {{ calendar }}
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
</div>

{% endblock %}

{% block scripts %}

<script>


  window.addEventListener('load', function () {
    var received_data = jQuery.parseJSON('{{name_json | safe}}');
    var due_labs = [].concat.apply([], received_data);

    console.log(sessionStorage)


    if (sessionStorage.getItem("warned") != "true") { //delete this to display alert on every homepage visit
      for (var i = 0, len = due_labs.length; i < len; ++i) {
        if (!localStorage.hasOwnProperty(due_labs[i])) {
          // alert(due_labs[i] + " is due in less than 24 hours")
          alert(due_labs[i] + " is due in less than 24 hours !")
          sessionStorage.setItem("warned", "true")
        } else {
          console.log("you have completed " + due_labs[i])
        }
      }
    }
    console.log(sessionStorage)
  })



</script>

{% endblock %}