{% extends "rfwa/base.html" %}

{% load staticfiles %}

{% block extra_head %}

{% endblock %}

{% block body_block %}

<div class="container-fluid">
  <h1 class="mt-4">Welcome to Robotics Foundation Web App</h1>

  <div style="width: 100%;">
    <div style="float:left; width: 50%">
      <h1 class="mt-4">How to use</h1>
      <p>sample tutorial and guide bla bla bla</p>
      <p>First name: {{user.first_name}}</p>
      <p> heyoo</p>
    </div>
    <div style="float:right; width: 50%">
      <h1 class="mt-4">Upcoming due dates</h1>
      <p> display calender here</p>
    </div>
  </div>
  <div style="clear:both"></div>
</div>

{% endblock %}

{% block scripts %}

<script>


  window.addEventListener('load', function () {
    var received_data = jQuery.parseJSON('{{name_json | safe}}');
    var due_labs = [].concat.apply([], received_data);

    console.log(sessionStorage)


    if (sessionStorage.getItem("warned") != "true") { //delete this to display alert on every homepage visit
      for (var i = 0, len = due_labs.length; i < len; ++i) {
        if (!localStorage.hasOwnProperty(due_labs[i])) {
          // alert(due_labs[i] + " is due in less than 24 hours")
          alert("BAD STUDENT ! you have NOT completed " + due_labs[i] + " there is less than 24 hours !")
          sessionStorage.setItem("warned", "true")
        } else {
          console.log("you have completed " + due_labs[i])
        }
      }
    }
    console.log(sessionStorage)
  })



</script>

{% endblock %}