{% extends "rfwa/base.html" %}

{% block extra_head %}

{% endblock %}

{% block body_block %}

<div class="container-fluid">
  <h1 class="mt-4">Lecture slides</h1>
  {% if slides %}
  <div class="container-fluid mt-5">
    {% for slide in slides %}
    {% cycle 'row' '' as row silent %}
    {% if row %}
    <div class="row justify-content-around">
      {% endif %}
      <div class="col-sm-10 col-md-10 col-lg-4 mb-5">
        <div class="card bg-dark text-white mx-auto">
          <div class="card-body text-center">
            <h3 class="card-title">{{slide.name}}</h3>
            <div class="row pb-2 justify-content-around mt-4">
              <button class="btn btn-primary font-weight-bold" rel="noopener noreferrer"
                onclick=" window.open('../../media/{{slide.lecture_Files}}','_blank')">View</button>
            </div>
          </div>
        </div>
      </div>
      {% if not row %}
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <h2 class="text-center mt-5">There are currently no slides uploaded.</h2>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}