{% extends "rfwa/base.html" %}
{% load static %}

{% block extra_head %}

<!-- Custom styles for this template -->
<link href="{% static 'css/manage_page.css' %}" rel="stylesheet">

{% endblock %}

{% block body_block %}
{% if user.is_superuser %}

<div class="container-fluid">

    <!-- main heading -->
    <div class="row">
        <h1 class="col-12 text-center mt-4">Manage Slides <a class="rightside" href="/rfwa/manage/"><button
                    type="button" class="btn btn-primary">Back</button></a></h1>
    </div>

    <!-- Slides -->
    <div class="table-group">
        <div class="title-group">
            <h1 class="col-12 text-left table-header">Slides
                <a class="rightside" href="{% url 'add_slide'%}"><button type="button" class="btn btn-primary">+ Add
                        Slides</button></a>
            </h1>
        </div>

        <table class="table table-hover">
            {% if slides %}
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Files</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            {% for slide in slides %}
            <tbody>
                <tr>
                    <td>{{slide.name}}</td>
                    <td>{{slide.lecture_Files}}</td>
                    <td> <a class="btn-link text-white badge badge-danger badge-pill ml-1"
                            href="{% url  'delete_slide' slide.slug %}"
                            onclick="return confirm('Are you sure you wish to delete {{ slide.name }}?')">Delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <h3 class="text-center mt-3">There are no slides uploaded.</h3>
            {% endif %}
        </table>
    </div>
</div>

{% endif %}
{% endblock %}