{% extends "rfwa/base.html" %}
{% load static %}

{% block extra_head %}

<style>
    .title-group {
        padding-bottom: 15px;
    }

    .table-header {
        font-size: 1.75rem;
    }

    .rightside {
        float: right;
    }

    .tr-name-column {
        width: 600px;
    }

    .tr-file-column {
        width: 863px;
    }
</style>

{% endblock %}

{% block body_block %}
{% if user.is_superuser %}

<div class="container-fluid">

    <!-- main heading -->
    <div class="row">
        <h1 class="col-12 text-center mt-4">Manage Scripts <a class="rightside" href="/rfwa/managev2/"><button type="button" class="btn btn-primary">Back</button></a></h1>

        
    </div>

    <!-- Scripts -->
    <div class="table-group">
        <div class="title-group">
            <h1 class="col-12 text-left table-header">Scripts
                <a class="rightside" href="{% url 'add_script'%}"><button type="button" class="btn btn-primary">+ Add
                        Scripts</button></a>
            </h1>
        </div>

        <table class="table table-hover">
            {% if scripts %}
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Files</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            {% for script in scripts %}
            <tbody>
                <tr>
                    <td>{{script.name}}</td>
                    <td>{{script.script_Files}}</td>
                    <td><a class="btn-link text-white badge badge-danger badge-pill ml-1"
                            href="/rfwa/delete_script/{{ script.slug }}"
                            onclick="return confirm('Are you sure you wish to delete {{ script.name }}?')">Delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <h3 class="text-center mt-3">There are no scripts uploaded.</h3>
            {% endif %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}