{% extends "rfwa/base.html" %}
{% load static %}

{% block extra_head %}

<!-- Custom styles for this template -->
<link href="{% static 'css/manage.css' %}" rel="stylesheet">

{% endblock %}

{% block body_block %}
{% if user.is_superuser %}

<div class="container-fluid">

    <!-- main heading -->
    <div class="row">
        <h1 class="col-12 text-center mt-4">Manage Site</h1>
    </div>


    <!-- Lab -->
    <div class="col-sm-10 col-md-10 col-lg-4 mb-5 divSquare card bg-dark text-white mx-auto">
        <div class="card-body text-center">
            <h3 class="card-title">Labs</h3>
            <div class="row pb-2 justify-content-around mt-5">
                <button class="btn btn-primary font-weight-bold loadProjectButton" data-toggle="modal"
                    onclick="window.open('/rfwa/manage_labs/','_self')">Manage Labs</button>
            </div>
        </div>
    </div>

    <!-- Slides -->
    <div class="col-sm-10 col-md-10 col-lg-4 mb-5 divSquare card bg-dark text-white mx-auto">
        <div class="card-body text-center">
            <h3 class="card-title">Slides</h3>
            <div class="row pb-2 justify-content-around mt-5">
                <button class="btn btn-primary font-weight-bold loadProjectButton" data-toggle="modal"
                    onclick="window.open('/rfwa/manage_slides/','_self')">Manage Slides</button>
            </div>
        </div>

    </div>

    <!-- manage feedback -->
    <div class="col-sm-10 col-md-10 col-lg-4 mb-5 divSquare card bg-dark text-white mx-auto">
        <div class="card-body text-center">
            <h3 class="card-title">Feedback</h3>
            <div class="row pb-2 justify-content-around mt-5">
                <button class="btn btn-primary font-weight-bold loadProjectButton" data-toggle="modal"
                    onclick="window.open('/rfwa/manage_feedbacks/','_self')">Manage Feedback</button>
            </div>
        </div>
    </div>

    <!-- view users -->
    <div class="col-sm-10 col-md-10 col-lg-4 mb-5 divSquare card bg-dark text-white mx-auto">
        <div class="card-body text-center">
            <h3 class="card-title">Users</h3>
            <div class="row pb-2 justify-content-around mt-5">
                <button class="btn btn-primary font-weight-bold loadProjectButton" data-toggle="modal"
                    onclick="window.open('/rfwa/view_users/','_self')">View Users</button>
            </div>
        </div>
    </div>

</div>

{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}