{% extends "rfwa/base.html" %}
{% load static %}

{% block extra_head %}

<!-- Custom styles for this template -->
<link href="{% static 'css/manage_page.css' %}" rel="stylesheet">

{% endblock %}

{% block body_block %}
{% if user.is_superuser %}

<div class="container-fluid">

    <!-- main heading -->
    <div class="row">
        <h1 class="col-12 text-center mt-4">Manage Labs <a class="rightside" href="/rfwa/manage/"><button type="button"
                    class="btn btn-primary">Back</button></a></h1>


    </div>

    <!-- Lab -->
    <div class="table-group">
        <div class="title-group">
            <h1 class="col-12 text-left table-header">Labs
                <a class="rightside" href="{% url 'add_lab'%}"><button type="button" class="btn btn-primary">+ Add
                        Labs</button></a>
            </h1>
        </div>

        <table class="table table-hover">
            {% if labs %}
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Starts</th>
                    <th scope="col">Ends</th>
                    <th scope="col">Description</th>
                    <th scope="col">Files</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            {% for lab in labs %}
            <tbody>
                <tr>
                    <td>{{lab.name}}</td>
                    <td>{{lab.open_Date}}</td>
                    <td>{{lab.close_Date}}</td>
                    <td>{{lab.description}}</td>
                    <td>{{lab.lab_Files}}</td>
                    <td>
                        <a class="btn-link text-white badge badge-danger badge-pill ml-1"
                            href="{% url  'unzip_lab' lab.slug %}"
                            onclick="return confirm('Are you sure you wish to unzip {{ lab.name }}?')">Unzip</a>
                        <a class="btn-link text-white badge badge-danger badge-pill ml-1"
                            href="{% url  'update_lab' lab.slug %}"
                            onclick="return confirm('Do you sure you wish to update {{ lab.name }}?')">Update</a>
                        <a class="btn-link text-white badge badge-danger badge-pill ml-1"
                            href="{% url  'delete_lab' lab.slug %}"
                            onclick="return confirm('Are you sure you wish to delete {{ lab.name }}?')">Delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <h3 class="text-center mt-3">There are no labs uploaded.</h3>
            {% endif %}
        </table>
    </div>
</div>

{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}