{% extends "rfwa/base.html" %}
{% load static %}

{% block extra_head %}

<!-- Custom styles for this template -->
<link href="{% static 'css/manage_page.css' %}" rel="stylesheet">

{% endblock %}

{% block body_block %}
{% if user.is_superuser %}

<div class="container-fluid">

    <!-- main heading -->
    <div class="row">
        <h1 class="col-12 text-center mt-4">Manage Feedback <a class="rightside" href="/rfwa/manage/"><button
                    type="button" class="btn btn-primary">Back</button></a></h1>
    </div>

    <!-- Lab -->
    <div class="table-group">
        <div class="title-group">
            <h1 class="col-12 text-left table-header">Students
                <a class="rightside" href="{% url 'add_feedback'%}"><button type="button" class="btn btn-primary">+ Add
                        Feedback</button></a>
            </h1>
        </div>

        <table class="table table-hover">
            {% if feedbacks %}
            <thead>
                <tr>
                    <th scope="col">Assigned student</th>
                    <th scope="col">Week number</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Actions</th>
                    <!-- <th scope="col">Actions</th> -->
                </tr>
            </thead>
            {% for feedback in feedbacks %}

            <tbody>
                <tr>
                    <td>{{feedback.assignedStudent_username}}</td>
                    <td>{{feedback.week_number}}</td>
                    <td>{{feedback.grade}}</td>
                    <td>{{feedback.comments}}</td>
                    <td>
                        <a class="btn-link text-white badge badge-danger badge-pill ml-1"
                            href="{% url  'update_feedback' feedback.slug %}"
                            onclick="return confirm('Do you sure you wish to update {{ feedback.slug }}?')">Update</a>
                        <a class="btn-link text-white badge badge-danger badge-pill ml-1"
                            href="{% url  'delete_feedback' feedback.slug %}"
                            onclick="return confirm('Do you sure you wish to delete {{ feedback.slug }}?')">Delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <h3 class="text-center mt-3">There are no feedbacks assigned.</h3>
            {% endif %}
        </table>
    </div>
</div>

{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}