{% extends "rfwa/base.html" %}

{% load static %}

{% block extra_head %}

{% endblock %}

{% block body_block %}

<div class="container-fluid">
  <h1 class="mt-4">Profile</h1>
  <p>Sample details displayed here</p>
  <p>First name: {{user.first_name}}</p>
  <h1 class="mt-4">Task Manager</h1>

  <div id="checkbox-container">
    {% for lab in labs %}
    <div>
      <label for="option1">{{lab.name}}</label>
      <input type="checkbox" id="{{lab.name}}" class="test">
    </div>
    {% endfor %}
    <button type="button" onClick="save()">Save status</button>
  </div>
</div>

<script src="{% static 'javascript/summary.js' %}"></script>

{% endblock %}