{% extends "rfwa/base.html" %}
{% load static %}

{% block extra_head %}

<!-- Custom styles for this template -->
<link href="{% static 'css/manage_page.css' %}" rel="stylesheet">

{% endblock %}

{% block body_block %}
{% if user.is_superuser %}

<div class="container-fluid">

    <!-- main heading -->
    <div class="row">
        <h1 class="col-12 text-center mt-4">Manage Feedback <a class="rightside" href="/rfwa/manage/"><button
                    type="button" class="btn btn-primary">Back</button></a></h1>
    </div>

    <!-- Lab -->
    <div class="table-group">
        <div class="title-group">
            <h1 class="col-12 text-left table-header">Students
                <a class="rightside" href="{% url 'add_feedback'%}"><button type="button" class="btn btn-primary">+ Add
                        Feedback</button></a>
            </h1>
        </div>

        <table class="table table-hover">
            {% if users %}
            <thead>
                <tr>
                    <th scope="col">User Name / Student ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <!-- <th scope="col">Actions</th> -->
                </tr>
            </thead>
            {% for user in users %}
            <tbody>
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <h3 class="text-center mt-3">There are no users.</h3>
            {% endif %}
        </table>
    </div>
</div>

{% endif %}
{% endblock %}