.title-group {
    padding-bottom: 15px;
}

.table-header {
    font-size: 1.75rem;
}

.rightside {
    float: right;
}

.submit-button-wrapper {
    text-align: center !important;
}

.form-text-label {
    margin-left: 200px;
}

.submit-button {
    margin-top: 25px;
}