.main-summary-container{
    width: 100%;
}

.summary-rightside{
    float:left; 
    width: 50%;
}

.summary-leftside{
    float:right; 
    width: 50%;
}

.profile-text{
    font-size: large;
    padding-left: 5%;
    margin-bottom: 16px;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.summary-checkbox{
    margin-right: 50px;
}

.summary-button-rightside{
    float:right;
}